.app {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 20px 20px;
  height: 100vh;
  color: white;
  background: #000;
  transition: background 0.5s ease-in-out;
  .navbarMain {
   
    .navbarContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90vh;

    .spotifyImage{
      width: 131.53px;
    }
    .songCoverTittleName{
      padding-top: 10px;
      p{
        font-size: 20px;
        cursor: pointer;
        color: #7c7676;
        padding-top: 15px;
      }
      p:hover{
        color: white;
      }
    }
    .profile {
      color: yellow;
      margin-top: auto;
      padding-bottom: 10px;
    }
   
  }
  
}
}
